#  Nome do Workflow
name: Testes do projeto

# Quando o workflow vai ser acionado (trigger)
on:
  push:
    branches:
      - "summers"

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v1
      - name: Instalar o NodeJS 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      # Daqui pra cima não tem segredo, é o mesmo processo do workflow anterior. Então agora que já temos tudo pronto vamos rodar o script de lint definido no projeto
      - name: Rodar o ESLint
        run: npm run lint
  styleint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v1
      - name: Instalar o NodeJS 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Rodar o Stylelint
        run: npm run lint:styles
  tests:
    runs-on: ubuntu-latest
    # Aqui estamos falando que o job "tests" só vai executar quando os jobs "eslint" e "stylelint" rodarem com sucesso. Ou seja, se algum deles falhar, esse job nem roda. Alguma semelhança com o avaliador automático?
    needs: [eslint, stylelint]
    steps:
      - name: Checkout do código
        uses: actions/checkout@v1
      - name: Instalar o NodeJS 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Rodar os testes
        run: npm test
